# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ================ #
# Unity meta files #
# ================ #
Temp/
Assets/Scenes/*.meta
Assets/Scenes/Test/*.meta
Assets/Scripts/*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db